<!DOCTYPE html>
<html lang="pt-br">

<!--Crie uma pequena tela, contendo um input, um botão e uma lista:

    Ao clicar no botão, o conteúdo do input deve ser incluído na lista,

    Validar se o input está vazio ao clicar no botão. Em caso afirmativo,
    emitir um alerta,

    Desafio: ao clicar no elemento da lista, excluí-lo.

    Referências:
    • Incluir elemento: https://www.w3schools.com/jsref/jsref_push.asp
    • Retirar elemento: https://www.w3schools.com/jsref/jsref_splice.asp
-->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="teste">
        <input type="text" v-model="m" v-on:keyup.enter="teste2">
        <button type="button" v-on:click="teste2">salvar</button>
        <ul>
            <li v-for="batata in lista" v-on:click="teste3(batata)">
                {{
                  batata
                }}
            </li>
        </ul>
    </div>

    <script src="http://unpkg.com/vue"></script>

    <script>
        var teste = new Vue({
            
            el:"#teste",
            
            data:{
                m:"",
                lista: []
            },
            
            methods:{
                
                teste2(){
                    if (this.m == ""){
                        alert('Campo vazio!');
                    }
                    else{
                        this.lista.push(this.m);
                        this.m = "";
                    }
                },

                teste3(batata){
                    var i = this.lista.indexOf(batata);
                    this.lista.splice(i,1);
                }
            }
        });
    </script>
</body>
</html>